{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'oro.bts.issue.entity_plural_label'|trans %}
{% set gridName = 'issue_grid' %}

{% block navButtons %}
    {% if resource_granted('oro_bts_issue_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_bts_issue_create'),
                'entity_label': 'oro.bts.issue.entity_label'|trans
            }) }}
        </div>
    {% endif %}

    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class:            entity_class,
        importProcessor:         'oro_bts_issue',
        exportProcessor:         'oro_bts_issue',
        exportTemplateProcessor: 'oro_bts_issue',
        dataGridName:             gridName
    } %}
{% endblock %}
